<!-- HOME -->
<section
  [ngClass]="{
    'flex-col pr-20 pl-3 py-20': innerWidth < 1110,
    'items-center py-52': innerWidth >= 1110,
    'text-popstar/[0.6] ': color,
    'text-glaucous/[0.6] ': !color
  }"
  id="HOME"
  class="flex justify-center"
>
  <div [ngClass]="{ 'h-1/2': innerWidth >= 1110 }">
    <img
      src="../../../assets/images/prakhar.png"
      [ngClass]="{
        'border-popstar ': color,
        'border-glaucous': !color,
        'mr-10': innerWidth >= 1110,
        'h-52 my-2': innerWidth < 630
      }"
      class="h-full border-4 border-double"
      alt=""
    />
  </div>
  <div
    [ngClass]="{ 'text-lg pr-10': innerWidth < 630 }"
    class="font-medium text-3xl"
  >
    <span
      [ngClass]="{ 'text-3xl': innerWidth < 630 }"
      class="text-black text-6xl"
      >PRAKHAR SAHU</span
    >
    <p>
      <span class="text-white">Full Stack Web Developer</span>
      <span [ngClass]="{ 'text-popstar': color, 'text-glaucous': !color }">
        | UI/UX</span
      >
    </p>
    <p>
      Designers have ideas, and developers are skilled.<br />
      They are Different
    </p>
    <button
      (click)="scroll()"
      [ngClass]="{
        'border-popstar hover:bg-popstar ': color,
        'border-glaucous hover:bg-glaucous ': !color
      }"
      class="cursor-pointer py-3 px-6 border-2 rounded-lg"
    >
      <a>Let's go &rarr;</a>
    </button>
  </div>
</section>
