<div class="fixed h-screen w-screen flex text-xs text-white">
  <!-- LEFT BAR -->
  <div
    class="bg-white/[0.5] w-16 h-screen flex justify-between flex-col items-center"
  >
    <img src="../assets/images/pixel8cloud.png" class="h-16 w-16" alt="" />
    <div class="h-28 flex flex-col items-center justify-between mb-3">
      <!-- UP ARROW -->
      <img src="../assets/images/mouse/ArrowUp.svg" alt="" />

      <!-- MOUSE -->
      <img src="../assets/images/mouse/mouse.svg" alt="" />

      <!-- DOWN ARROW -->
      <img src="../assets/images/mouse/ArrowDown.svg" alt="" />
    </div>
  </div>

  <!-- NAVBAR -->
  <nav class="w-full h-16 flex items-center justify-end overflow-hidden">
    <ul class="flex py-6">
      <li class="mx-16 ml-32">
        <a (click)="scroll('CONTACT')" class="cursor-pointer">CONTACT</a>
      </li>
      <li class="mx-16">
        <a (click)="scroll('WORK')" class="cursor-pointer">WORK</a>
      </li>
      <li class="mx-16">
        <a (click)="scroll('PROJECT')" class="cursor-pointer">PROJECT</a>
      </li>
      <li class="mx-16">
        <a (click)="scroll('ABOUT')" class="cursor-pointer">ABOUT</a>
      </li>
      <li class="mx-16 mr-32">
        <a (click)="scroll('HOME')" class="cursor-pointer">HOME</a>
      </li>
    </ul>
  </nav>

  <!-- RIGHT BAR -->
  <div
    class="bg-black/[0.5] w-16 h-screen flex flex-col justify-center items-center"
  >
    <!-- LINKEDIN -->
    <a
      href="https://www.linkedin.com/in/prakhar-sahu-4519b8206"
      target="_blank"
    >
      <img class="my-2" src="../assets/images/socials/linkedn.svg" alt="" />
    </a>

    <!-- TWITTER -->
    <a href="https://twitter.com/prakhar_5447" target="_blank">
      <img class="my-2" src="../assets/images/socials/twitter.svg" alt="" />
    </a>

    <!-- INSTAGRAM -->
    <a href="https://instagram.com/prakhar_5447" target="_blank">
      <img class="my-2" src="../assets/images/socials/instagram.svg" alt="" />
    </a>

    <!-- GITHUB -->
    <a href="https://github.com/prakhar-5447" target="_blank">
      <img class="my-2" src="../assets/images/socials/github.svg" alt="" />
    </a>

    <!-- DISCRDD -->
    <a href="https://discord.gg/yS4RsAkDHv" target="_blank">
      <img class="my-2" src="../assets/images/socials/discord.svg" alt="" />
    </a>

    <!-- WORDPRESS -->
    <a href="" target="_blank">
      <img class="my-2" src="../assets/images/socials/wordpress.svg" alt="" />
    </a>

    <div
      *ngIf="!color"
      class="absolute bottom-0 flex flex-col justify-center items-center mb-5 cursor-pointer"
    >
      <img
        (click)="change_color()"
        class="absolute"
        src="../assets/images/buttons/piglet_btn.svg"
        alt=""
      />
      <img src="../assets/images/buttons/grey_circle.svg" alt="" />
    </div>
    <div
      *ngIf="color"
      class="absolute bottom-0 flex flex-col justify-center items-center mb-5 cursor-pointer"
    >
      <img
        (click)="change_color()"
        class="absolute"
        src="../assets/images/buttons/grey_btn.svg"
        alt=""
      />
      <img src="../assets/images/buttons/piglet_circle.svg" alt="" />
    </div>
  </div>
</div>

<app-home></app-home>
<app-about></app-about>
<app-work></app-work>
<app-project></app-project>
<app-contact></app-contact>
