@media only screen and (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .nav_bar {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .right_bar {
    position: fixed;
    right: 0;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 480px) {
}
