@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
  background-attachment: fixed;
}

.active {
  display: inline-block;
  position: relative;
}

.active:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: calc(50% - 3px);
  animation: dot 0.3s forwards ease-in-out;
}

@keyframes dot {
  from {
    top: 40px;
    background-color: transparent;
  }
  to {
    top: 22px;
    background-color: white;
  }
}
